<div class="container">
  <h3 class="my-4">DashBoard</h3>
  <table class="table">
    <tbody>
      <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
      <tr>
        <td>
          <h5>C++</h5>
          <p>
            IT2018
          </p>
        </td>
        <td>
          <h5>Java</h5>
          <p>
            IT2019
          </p>
        </td>
        <td>
          <h5>Python</h5>
          <p>
            IT2017
          </p>
        </td>
        <td>
          <h5>Data Science</h5>
          <p>
            IT2018
          </p>
        </td>
        <td>
          <h5>C#</h5>
          <p>
            IT2018
          </p>
        </td>
        <td>
          <h5>Data Science</h5>
          <p>
            IT2020
          </p>
        </td>
      </tr>
      <tr>
      <td>
        <h5>Data Science</h5>
        <p>
          IT2018
        </p>
      </td>
      <td>
        <h5>C++</h5>
        <p>
          IT2019
        </p>
      </td>
      <td>
        <h5>Java</h5>
        <p>
          IT2017
        </p>
      </td>
      <td>
        <h5>Python</h5>
        <p>
          IT2018
        </p>
      </td>
      <td>

      </td>
      <td>
        <h5>Java</h5>
        <p>
          IT2019
        </p>
      </td>
      </tr>
      <tr>
      <td>
        <h5>C#</h5>
        <p>
          IT2020
        </p>
      </td>
      <td>
        <h5>Data Science</h5>
        <p>
          IT2017
        </p>
      </td>
      <td>

      </td>
      <td>
        <h5>C++</h5>
        <p>
          IT2019
        </p>
      </td>
      <td>
        <h5>Data Science</h5>
        <p>
          IT2018
        </p>
      </td>
      </tr>
    </tbody>
  </table>
</div>
